[Desktop Entry]
Version=1.0
Name=Libercoin Core
Comment=Connect to the Libercoin P2P Network
Comment[de]=Verbinde mit dem Libercoin peer-to-peer Netzwerk
Comment[fr]=Libercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Libercoin, eşten eşe kriptografik sanal para birimi
Exec=libercoin-qt %u
Terminal=false
Type=Application
Icon=libercoin128
MimeType=x-scheme-handler/libercoin;
Categories=Office;Finance;
StartupWMClass=Libercoin-qt
